<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>LLMsploit report</title>
    <meta name="keywords" content="llm llm-safety llm-security llm-risk-assessment llm-vulnerability-scanner">
    <meta name="description" content="LLMsploit a vulnerability scanner for Large Language Models.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <style>
        body {
            color: #444444;
        }

        h1 {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }

        h2 {
            padding: 0.5rem;
            background-color: var(--bs-border-color);
        }

        p {
            padding-left: 0.5rem;
        }

        table tr th,
        table tr td {
            color: #444444 !important;
        }

        .w-td {
            width: 200px;
        }

        .w-min-td {
            min-width: 200px;
        }

        .scan-summary,
        .scan-settings,
        .imeca-analysis,
        .criticality-matrix {
            margin-bottom: 2rem;
        }

        .imeca-analysis table,
        .criticality-matrix table {
            margin-top: 1rem;
        }

        .scan-details .alert {
            margin-top: 1rem;
        }

        @media (min-width: 1400px) {
            .container {
                max-width: 1140px;
        }
}
    </style>
</head>

<body>
    <div class="container">
        <h1>LLMsploit vulnerability scanner</h1>

        <div class="scan-summary">
            <h2 class="rounded">Scan report summary</h2>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td class="w-td">Scan date</td>
                        <td>{{ report.scan_date }}</td>
                    </tr>
                    <tr>
                        <td class="w-td">Scan duration</td>
                        <td>{{ report.scan_duration }}</td>
                    </tr>
                    <tr>
                        <td class="w-td">Target LLM</td>
                        <td>{{ report.target_model_name }}</td>
                    </tr>
                    <tr>
                        <td class="w-td">Evaluation LLM</td>
                        <td>{{ report.evaluation_model_name }}</td>
                    </tr>
                    <tr>
                        <td class="w-td">Total requests</td>
                        <td>{{ report.total_requests }}</td>
                    </tr>
                    <tr>
                        <td class="w-td">Total unsafe responses</td>
                        <td>{{ report.total_unsafe_responses }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="scan-settings">
            <h2 class="rounded">Scan settings</h2>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td class="w-td">Forbidden categories</td>
                        <td>{{ ", ".join(report.categories) }}</td>
                    </tr>
                    <tr>
                        <td class="w-td">Exploits</td>
                        <td>{{ ", ".join(report.exploits) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="imeca-analysis">
            <h2 class="rounded">IMECA cybersecurity analysis</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" rowspan="2" class="text-center align-middle">#</th>
                        <th scope="col" rowspan="2" class="align-middle">Threat</th>
                        <th scope="col" rowspan="2" class="align-middle">Vulnerability</th>
                        <th scope="col" rowspan="2" class="align-middle">Attack</th>
                        <th scope="col" rowspan="2" class="align-middle">Effects</th>
                        <th scope="col" colspan="3" class="text-center">Criticality</th>
                    </tr>
                    <tr>
                        <th scope="col" class="text-center">Probability</th>
                        <th scope="col" class="text-center">Severity</th>
                        <th scope="col" class="text-center">Risk</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in report.analysis.items() %}
                        <tr>
                            <td class="text-center">{{ loop.index }}</td>
                            <td>{{ value.threat }}</td>
                            <td>{{ value.vulnerability }}</td>
                            <td>{{ value.attack }}</td>
                            <td>{{ value.effect }}</td>

                            {% if value.probability <= 0.39 %}
                                <td class="text-center"><span class="badge text-bg-success">{{ value.probability }}</span></td>
                            {% elif value.probability <= 0.69 %}
                                <td class="text-center"><span class="badge text-bg-warning">{{ value.probability }}</span></td>
                            {% else %}
                                <td class="text-center"><span class="badge text-bg-danger">{{ value.probability }}</span></td>
                            {% endif %}

                            {% if value.severity <= 3.9 %}
                                <td class="text-center"><span class="badge text-bg-success">{{ value.severity }}</span></td>
                            {% elif value.severity <= 6.9 %}
                                <td class="text-center"><span class="badge text-bg-warning">{{ value.severity }}</span></td>
                            {% else %}
                                <td class="text-center"><span class="badge text-bg-danger">{{ value.severity }}</span></td>
                            {% endif %}

                            {% if value.risk == 0 or value.risk_matrix == "ll" or value.risk_matrix == "lm" or value.risk_matrix == "ml" %}
                                <td class="text-center"><span class="badge text-bg-success">{{ value.risk if value.risk > 0 else "None" }}</span></td>
                            {% elif value.risk_matrix == "lh" or value.risk_matrix == "mm" or value.risk_matrix == "hl" %}
                                <td class="text-center"><span class="badge text-bg-warning">{{ value.risk }}</span></td>
                            {% else %}
                                <td class="text-center"><span class="badge text-bg-danger">{{ value.risk }}</span></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="criticality-matrix">
            <h2 class="rounded">Cyber risk criticality matrix</h2>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td rowspan="2" class="fw-bold align-middle">Probability</td>
                        <td colspan="3" class="fw-bold">Severity</td>
                    </tr>
                    <tr>
                        <td>Low (0.0 - 3.9)</td>
                        <td>Medium (4.0 - 6.9)</td>
                        <td>High (7.0 - 10.0)</td>
                    </tr>
                    <tr>
                        <td>Low (0.00 - 0.39)</td>
                        <td class="bg-success text-white">{{ ", ".join(report.risk_matrix.ll) }}</td>
                        <td class="bg-success text-white">{{ ", ".join(report.risk_matrix.lm) }}</td>
                        <td class="bg-warning">{{ ", ".join(report.risk_matrix.lh) }}</td>
                    </tr>
                    <tr>
                        <td>Medium (0.40 - 0.69)</td>
                        <td class="bg-success text-white">{{ ", ".join(report.risk_matrix.ml) }}</td>
                        <td class="bg-warning">{{ ", ".join(report.risk_matrix.mm) }}</td>
                        <td class="bg-danger text-white">{{ ", ".join(report.risk_matrix.mh) }}</td>
                    </tr>
                    <tr>
                        <td>High (0.7 - 1.0)</td>
                        <td class="bg-warning">{{ ", ".join(report.risk_matrix.hl) }}</td>
                        <td class="bg-danger text-white">{{ ", ".join(report.risk_matrix.hm) }}</td>
                        <td class="bg-danger text-white">{{ ", ".join(report.risk_matrix.hh) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="scan-details">
            <h2 class="rounded">Scan details</h2>
            <div class="alert alert-danger" role="alert">
                Please note that this section contains examples of harmful, unethical, illegal, offensive, or biased language. We apologize for any discomfort that may arise while reading such content.
            </div>
            {% for key, value in report.analysis.items() %}
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td class="w-td">Forbidden category</td>
                            <td><span class="badge bg-info text-dark">{{ key }}</span></td>
                        </tr>
                        <tr>
                            <td class="w-td">Requests</td>
                            <td>{{ value.scan_results | length }}</td>
                        </tr>
                        <tr>
                            <td class="w-td">Unsafe responses</td>
                            <td>{{ value.unsafe_count }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Exploit</th>
                            <th scope="col">Prompt</th>
                            <th scope="col">Response</th>
                            <th scope="col">Unsafe</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in value.scan_results %}
                            <tr>
                                <td>{{ result.exploit }}</td>
                                <td class="w-min-td">{{ result.prompt }}</td>
                                <td>{{ result.response }}</td>
                                {% if result.unsafe %}
                                    <td class="text-center"><span class="badge text-bg-danger">{{ result.unsafe }}</span></td>
                                {% else %}
                                    <td class="text-center"><span class="badge text-bg-success">{{ result.unsafe }}</span></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
</body>

</html>
